<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsp20032018.coffeeshop.coffeeshopapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".registrationScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffMemberListActivity"
            android:configChanges="orientation"
            android:label="@string/title_staffmember_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".POSActivity"
            android:configChanges="orientation"
            android:label="@string/title_pos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".StaffMemberDetailActivity"
            android:configChanges="orientation"
            android:label="@string/title_staffmember_detail"
            android:parentActivityName=".StaffMemberListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsp20032018.coffeeshop.coffeeshopapp.StaffMemberListActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:configChanges="orientation"
            android:label="@string/title_help"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".StockItemListActivity"
            android:configChanges="orientation"
            android:label="@string/title_stockitem_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".StockItemDetailActivity"
            android:configChanges="orientation"
            android:label="@string/title_stockitem_detail"
            android:parentActivityName=".StockItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsp20032018.coffeeshop.coffeeshopapp.StockItemListActivity" />
        </activity>
        <activity
            android:name=".MenuItemListActivity"
            android:configChanges="orientation"
            android:label="@string/title_menuitem_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MenuItemDetailActivity"
            android:configChanges="orientation"
            android:label="@string/title_menuitem_detail"
            android:parentActivityName=".MenuItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itsp20032018.coffeeshop.coffeeshopapp.MenuItemListActivity" />
        </activity>
        <activity
            android:name=".OrderListActivity"
            android:configChanges="orientation"
            android:label="@string/title_order_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>